* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

body {
	font-family: 'Inter';
	font-style: italic;
	color: #444;
	/* background-color: #ceedce; */
	background-color: #f5f5f5;
	height: 100vh;
}

/* navbar */
nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: rgb(197, 175, 241);
}

.webnamecontainer {
	display: flex;
	align-items: center;
}

.webname {
	font-size: 1.5rem;
	font-weight: 100;
	color: white;
	margin-left: 1rem;
}

.logo {
	height: 3.25rem;
}

.login {
	display: flex;
}

.login__input {
	border: none;
	padding: 0.5rem 2rem;
	font-size: 1.5rem;
	font-family: inherit;
	text-align: center;
	width: 12rem;
	border-radius: 10rem;
	margin-right: 1rem;
	color: inherit;
	border: 1px solid #fff;
	transition: all 0.3s;
}

.login__input:focus {
	outline: none;
	border: 1px solid #ccc;
}

.login__input::placeholder {
	color: #bbb;
}

.login__btn {
	border: none;
	background: none;
	font-size: 2.2rem;
	color: inherit;
	cursor: pointer;
	transition: all 0.3s;
	margin-right: 1rem;
}

.login__btn:hover,
.login__btn:focus {
	outline: none;
	color: #777;
}

/* welcome */
.welcome {
	display: flex;
	justify-content: center;
	margin-top: 5rem;
	background-color: #f5f5f5;
	color: #ff8956;
}

/* header */

.header {
	margin-top: 3rem;
	margin-bottom: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background-color: #f5f5f5;
}

.quote {
	font-weight: 400;
	font-size: 15px;
	line-height: 40px;
	display: flex;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	flex-direction: column;
	border-radius: 10px;
	border-color: #a09acd;
}
.quote__author {
	font-size: 1.5rem;
	font-weight: 100;
	color: #a09acd;
	margin-left: auto;
	margin-right: 1rem;
}

.girl {
	width: 30rem;
}

/* category */

.category {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.category__title {
	text-align: center;
	font-style: normal;
	margin-bottom: 1.5rem;
	padding: 3rem;
	font-size: 3rem;
	width: 64%;
	background-color: #ceedce;
	border-radius: 15px;
}

.category__subjects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	overflow: auto;
	margin: 4px;
	font-size: 2rem;
	width: 65%;
	/* background-color: #ceedce;
	border-radius: 10px;
	border-bottom: 1px solid #ccc; */
}

.app {
	/* NOTE This creates the fade in/out anumation */
	opacity: 0;
	transition: all 1s;
}

.category__subject {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5px;
	width: 196px;
	height: 100px;
	background-color: #ceedce;
	border-radius: 15px;
}

.FOREIGN_LANGUAGES {
	font-family: 'Inter';
	font-style: normal;
	font-weight: bold;
	font-size: 2.6rem;
	color: #2e2b2b;
	line-height: 30px;
	margin-top: 5rem;
	margin-bottom: 0.5rem;

	text-align: center;
	justify-content: center;
}

.AllofQuestions {
	font-style: normal;
	font-weight: 300;
	font-size: 20px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 4px solid #a09acd;
	border-radius: 15px;
	width: 700px;
	/* min-width: fit-content; */
	height: 500px;
	/* min-height: fit-content; */

	margin: auto;
	padding-top: 3rem;
	padding-bottom: 2rem;

	padding-left: 2rem;
	padding-right: 1rem;

	margin-bottom: 2rem;
	margin-top: 0.5rem;
	text-align: center;

	overflow-x: auto;
	overflow-y: auto;
	white-space: nowrap;
}
.AllofQuestions::-webkit-scrollbar {
	display: none;
}

div.inquiring {
	width: 500px;
	height: 500px;
	margin: auto;
	min-width: fit-content;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	text-align: justify;
}

.parent {
	min-width: fit-content;
	min-height: fit-content;
}

.child {
	display: inline-block;
	min-width: fit-content;
	min-height: fit-content;
}

.number {
	z-index: 1;
	position: relative;
	border-radius: 50%;
	width: 55px;
	height: 55px;
	padding: 12px;
	background: #a09acd;
	color: rgb(249, 245, 250);
	text-align: center;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	min-width: fit-content;
	min-height: fit-content;
	margin-top: 2rem;
}

.message {
	vertical-align: middle;
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;

	margin-top: 2rem;
	margin-right: 10px;
	margin-left: -28px;
	text-align: center;

	border: 4px solid #a9dbd1;
	border-radius: 10px;
	width: 100%;
	height: 20%;
	min-width: fit-content;
	min-height: fit-content;

	padding-left: 3rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.num_comment {
	z-index: 1;
	float: left;
	font-family: 'Inter';
	font-style: normal;
	color: rgb(249, 245, 250);
	font-weight: 300;
	font-size: 14px;
	line-height: 10px;
	text-align: center;

	display: flex;
	align-items: left;
	width: 50px;
	height: 25px;
	min-width: fit-content;

	background-color: #c98b3a;
	border-radius: 10px;

	padding: 7px;
	padding-left: 1rem;
	padding-right: 1rem;

	margin-top: 0.1rem;
}

.group2 {
	margin-top: 3rem;
	margin-bottom: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
	background-color: #f5f5f5;
}

.boy {
	width: 20rem;
}

.question-area {
	font-family: 'Inter';
	font-style: normal;
	display: inline-block;
	position: relative;
	background-color: #a09acd;
	border-radius: 10px;
	margin-top: 3rem;
	margin-bottom: 5rem;
	padding: 2rem;
	width: 50%;
}

.question-area button {
	position: absolute;
	bottom: 30px;
	right: 40px;
	border-radius: 8px;
	background-color: #ffe7c3;
	color: #ff8956;
	font-size: 16px;
	font-weight: bold;
	padding: 0.5rem;
	margin-bottom: 0.8rem;
}

.question-area select {
	position: absolute;
	bottom: 30px;
	right: 120px;
	margin-bottom: 1.2rem;
}

.question-area textarea {
	resize: none;
	border-radius: 10px;
	font-size: 16px;
	padding: 1rem;
	width: 100%;
}

.question-area h2 {
	color: #ffffff;
	font-size: 24px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#types {
	border-radius: 5px;
	background-color: #ffe7c3;
	color: #777777;
	font-weight: bold;
	font-size: 16px;
	height: 24px;
}

/* quesntion popup */
.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	visibility: hidden;
}
.pupup__background {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #ceedce;
	border-radius: 15px;
	width: 53%;
	margin: auto;
	padding-top: 0.5rem;
	padding-bottom: 4rem;
}

.popup__close-bar {
	display: flex;
	justify-content: flex-end;
	margin-right: 3rem;
	width: 100%;
	margin-bottom: 1rem;
}

.popup__close-button {
	color: #ff0000;
	background-color: #ceedce;
	border: none;
	font-family: 'Inter';
	font-style: normal;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.3s;
}

.popup__close-button:hover {
	position: relative;
	outline: none;
	box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
}

/* question header */
.question {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff;
	padding: 1rem;
	margin: 1rem;
	width: 85%;
	border-style: solid;
	border-color: #a9dbd1;
	border-radius: 10px;
	overflow: scroll;
}

.question h3 {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 30px;
	display: flex;
	align-items: center;
}

/* comment in question */
.comment {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	width: 85%;
	border-style: solid;
	border-color: #bebebe;
	border-radius: 10px;

	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 15px;
	display: flex;
	align-items: center;
}

.comment__answers {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
	justify-content: flex-start;
	width: 85%;
	height: 20rem;
	margin: 1rem;
	margin-bottom: 1.5rem;
	overflow-y: scroll;
}

.comment__answers::-webkit-scrollbar {
	display: none;
}

.ans {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem;
	margin: 1rem;
	width: 100%;
	border-style: solid;
	border-color: #fae1ba;
	border-radius: 10px;
	overflow-y: scroll;
}

.ans::-webkit-scrollbar {
	display: none;
}

.like__btn {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 10px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
	min-width: fit-content;
	background-color: #9bf653;
	border: none;
	border-radius: 10px;
	padding-left: 1rem;
	padding-right: 1rem;

	cursor: pointer;
	transition: all 0.3s;
}

.like__btn:hover {
	background-color: #a9dbd1;
	position: relative;
	box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
}

.like__img {
	width: 1.5rem;
	height: 1.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* add commnet */
.add__comment {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1rem;
	margin: 2rem;
	width: 85%;
	height: 8rem;
	border-style: solid;
	border-color: #fabeba;
	border-radius: 10px;
}

.add__comment__input {
	width: 100%;
	font-size: 15px;
	color: #545454;
	border: none;
	border-style: hidden;
	padding-left: 1rem;
	padding-top: 1rem;
}

.add__submit {
	display: flex;
	justify-content: flex-end;
	margin-top: 1rem;
	transition: ease-out 0.5s;
	-webkit-transition: ease-out 0.5s;
	-moz-transition: ease-out 0.5s;
}

.add__submit__btn {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	line-height: 34px;
	background: #ffe7c4;
	border-radius: 10px;
	color: #ff8956;

	border: none;
	width: 10rem;
	height: 3rem;

	cursor: pointer;
	transition: all 0.25s ease-out;
}

.add__submit__btn:hover {
	position: relative;
	background-color: #fdd69c;
	top: -3px;
	box-shadow: -6px 14px 12px 2px rgba(90, 90, 90, 0.12);
}

/* temp open popup */
.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	bottom: 23px;
	right: 28px;
	width: 280px;
}
